* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
}

body {
    direction: rtl;
    font-family: 'vazir' !important;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}

main .title {
    font-size: 25px;
    text-align: center;
}

.reviews {
    width: 400px;
    margin-top: 50px;
    box-shadow: 0 10px 10px rgb(53, 50, 50);
    padding: 20px;
    background: rgb(202, 197, 197);
    position: relative;
    height: 400px;
    text-align: center;
}

.reviews img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: auto;
}

.author {
    color: #333;
    font-size: 20px;
    font-weight: bold;
    /* margin-top: 10px; */
}

.job {
    color: crimson;
    font-weight: 600;
    padding: 10px;
}

.info {
    color: rgb(87, 87, 87);
    font-weight: bold;
    padding: auto;
}

button {
    color: crimson;
    border: none;
    background: none;
    outline: none;
}

.review-button {
    position: absolute;
    bottom: 22px;
}

.review-button button {
    margin: auto;
    cursor: pointer;
}

.random-btn {
    background: rgba(131, 131, 131, .3);
    position: absolute;
    bottom: 20px;
    transform: translateX(50%);
    padding: 5px 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
}